.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

.gray-100 {
  color: var(--base-gray-100);
}

.gray-200 {
  color: var(--base-gray-200);
}

.gray-300 {
  color: var(--base-gray-300);
}

.gray-400 {
  color: var(--base-gray-400);
}

.gray-500 {
  color: var(--base-gray-500);
}

.gray-600 {
  color: var(--base-gray-600);
}

.red {
  color: var(--principal-red);
}

.purple {
  color: var(--principal-purple);
}

.blue {
  color: var(--principal-blue);
}

.green {
  color: var(--principal-green);
}

.yellow {
  color: var(--principal-yellow);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.gap-24 {
  gap: 24px;
}
